:root { 
  --color-back: #000000; 
  --color-text: #ffffff; 
} 

:root.light { 
  --color-back: #ffffff; 
  --color-text: #000000; 
} 

body { 
  background: var(--color-back);     
  color: var(--color-text);         
  transition: background 0.3s ease; 
  min-height: 100vh; 
}


h1, h2, #colors {
  font-family: 'NiseSegaSonic'
}